html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

.wrapper {
  padding: 54px 0 187px;
  background: white;
  position: relative;
}

.form-header {
  margin-bottom: 28px;
}

