.page-wrapper {
  height: 100%;
  position: relative;
  margin-bottom: 187px;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

.wrapper {
  padding-top: 54px;
  background: white;
}

.form-header {
  margin-bottom: 28px;
}

